
<body class= "background">
  <div class= "search-box">
    <form class= "search-items" action="/artists" method="GET">
      {{!-- <label for="">artist</label> --}}
      <input type="text" name="artist" id="artist" placeholder = "artist's name">      
      <button type="submit">Search for an Artist</button>
    </form>
  </div>
</body>

