{{!-- A track object comes with a preview_url, which is the source for a 30-second preview of a particular song.
You can plug this into an HTML audio tag, and it will play the preview. --}}

<header class="tracks">    
    <h3>Title</h3>
    <h3>Listen</h3>
</header>

<div class="track-list">

  {{#each items}}      
    <div class="track-body">
        <h5 class="track-title">        
            {{this.name}}        
        </h5>
        <audio controls class="track-preview" src="{{this.preview_url}}" type="audio/mpeg"></audio>

        {{!-- <audio controls>    
        <source src="{{this.preview_url}}" type="audio/mpeg">
        </audio> --}}
    </div>    
  {{/each}}
      
</div>